<div class="page-header">

    <% if user_signed_in? %>

      <h1 class="col-sm-offset-1"><%= current_user.first %>, <small>see your schedule and find sources for further learning</small></h1>

    <% else %>
      <h1 class="col-sm-offset-1">Please, sign in to see your schedule!</h1>
    <% end %>

</div><!--header-->

<% if user_signed_in? %>

  <div class="container">

    <div class="col-sm-4" id="credentials">

      <h2>My Credentials</h1>

    </div><!--col-sm-4-->



    <div class="col-sm-4" id="quick_sched">

      <h2>Schedule Quick Look</h1>

    </div><!--col-sm-4-->



    <div class="col-sm-4" id="resources">

      <h2>Learning Resources</h1>

    </div><!--col-sm-4-->

  </div><!--container-->

<% end %>
