// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dusty: #96858f;
$lightDusty: #dfdadd;
$lavendar: #6d7993;
$overcast: #9099A2;
$paper: #d5d5d5;

.page-header{
  padding: 18px;
  background-color: $lavendar;
  color: white;
}

.page-header small{
  color: $paper;
}


#credentials {
  margin-right: 7px;
}

#credentials h2{
  font-weight: bold;
  border-bottom: 4px solid $dusty;
}

#quick_sched{
  margin-left: 7px;
  margin-right: 7px;
}

#quick_sched h2{
  font-weight: bold;
  border-bottom: 4px solid $overcast;
}

#resources{
  margin-left: 7px;
}

#resources h2{
  font-weight: bold;
  border-bottom: 4px solid $lavendar;
}

#add_specialty h2{
  font-weight: bold;
  border-bottom: 4px solid $lavendar;
}
